<div id="popup_register_screen" class="blur centered_section" onclick="hideRegPopup(event)" hidden>
    <div class="popup">
        <div class="centered_section"><h2>Registration</h2></div>
        <hr>
        {{> register_form}}
    </div>
</div>
