<div class="container">

    {{> basic_nav}}

    <div class="content">
        <div class="banner">
            <div class="centered_section">
                <h1>#cool <br> Dairy Journal For You</h1>
            </div>
        </div>
        <div class="page">
            <div class="centered_section">
                <label for="getStarted"><button class="huge_button" id="getStarted" type="button">Get Started!</button></label>
            </div>
            <hr>
            <div class="article">
                <div id="description">
                    <h2>Why "myDairy"?</h2>
                    <div class="text_box">
                        Because
                    </div>
                </div>
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="/styles/home.css">
</div>