.popup {
    max-width: 80%;
    max-height: 80%;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    z-index: 300;
    background-color: var(--color-beige);

    h2 {
        margin: 10px;
    }
}